<% if (post.link){ %>
    <a class="<%= class_name %>" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= post.title %></a>
<% } else if (post.title){ %>
  <% if (index){ %>
      <a class="<%= class_name %>" href="<%- url_for(post.path) %>"><h2><%=post.title %></h2></a>
  <% } else { %>
      <h1>
          <%= post.title %>
      </h1>
  <% } %>
<% } %>
